:host {
  height: 100%;
  width: 100%;
}

.example-container {
  height: 700px;
  overflow: auto;
  margin: 20px;
}

table {
  width: 100%;
}

th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container {
  display: flex;
  margin: 10px 20px 10px 20px;
  justify-content: center;
  align-items: center
}

.container-base {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.left-container {
  display: flex;
  flex-direction: column;
}

.container-el {
  height: 100vh;
}

.item-center {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.mat-form-field {
  font-size: 14px;
  width: 80%;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  border: 1px solid #ccc;
  margin-bottom: .5rem;
}
