table {
  width: 70%;
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center
}

.mat-form-field {
  font-size: 14px;
  width: 80%;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}
