<mat-toolbar color="primary">
  <span>CloudPaymentsBackEnd</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <div class="date-picker">
    <!--    <mat-form-field class="example-full-width">-->
    <!--      <mat-label>{{dateService.date| async | moment}}</mat-label>-->
    <!--      <input matInput [matDatepicker]="picker">-->
    <!--      <mat-datepicker-toggle matSuffix [for]="picker">-->
    <!--        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>-->
    <!--      </mat-datepicker-toggle>-->
    <!--      <mat-datepicker #picker></mat-datepicker>-->
    <!--    </mat-form-field>-->

  </div>
</mat-toolbar>
<mat-tab-group mat-align-tabs="center" animationDuration="1000ms">
  <mat-tab label="Мониторинг">
    <div class="container-base">

      <!--      <mat-form-field>-->
      <!--        <mat-label>Фильтр</mat-label>-->
      <!--        <input matInput (keyup)="applyFilter($event)">-->
      <!--      </mat-form-field>-->

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No.</th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Имя плательщика</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> ID плательщика</th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Email плательщика</th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </mat-tab>

  <mat-tab label="База клиентов">
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <div class="left-container">
          <footer>
            <form (ngSubmit)="submit()" [formGroup]="form">
              <mat-form-field class="example-full-width">
                <mat-label>Дата абонемента</mat-label>
                <input matInput type="text" type="text" formControlName="date">
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Имя абонемента</mat-label>
                <input matInput placeholder="Введите имя..." formControlName="name">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Телефон абонемента</mat-label>
                <span matPrefix>+7 &nbsp;</span>
                <input type="tel" matInput placeholder="555-555-1234" formControlName="phone">
                <mat-icon matSuffix>mode_edit</mat-icon>
              </mat-form-field>


              <div class="item-center">
                <button type="submit" class="btn btn-primary" mat-raised-button color="primary"
                        [disabled]="form.invalid">Добавить пользователя
                </button>
              </div>
            </form>
          </footer>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="example-container mat-elevation-z8">
          <table *ngIf="dataStorage.data.length; else noTasks" mat-table [dataSource]="dataStorage">

            <!-- Name Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> Дата плательщика</th>
              <td mat-cell *matCellDef="let element"> {{element.datePerson}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Имя плательщика</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef> Телефон плательщика</th>
              <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableName"></tr>
            <tr mat-row *matRowDef="let row; columns: tableName;"
                class="example-element-row"
                (click)="clickRow(row)"></tr>

          </table>
          <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
        </div>

        <ng-template #noTasks>
          <p class="text-center">No tasks yet...</p>
        </ng-template>
      </mat-grid-tile>
    </mat-grid-list>


  </mat-tab>
  <mat-tab label="Cтатистика">Cтатистика</mat-tab>
</mat-tab-group>
<!--<div class="container">-->
<!--  <mat-form-field>-->
<!--    <mat-label>Фильтр</mat-label>-->
<!--    <input matInput (keyup)="applyFilter($event)">-->
<!--  </mat-form-field>-->

<!--  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->

<!--    &lt;!&ndash; Position Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="position">-->
<!--      <th mat-header-cell *matHeaderCellDef> No.</th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Name Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="name">-->
<!--      <th mat-header-cell *matHeaderCellDef> Имя плательщика</th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Weight Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="weight">-->
<!--      <th mat-header-cell *matHeaderCellDef> ID плательщика</th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Symbol Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="symbol">-->
<!--      <th mat-header-cell *matHeaderCellDef> Email плательщика</th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>-->
<!--    </ng-container>-->

<!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--  </table>-->
<!--</div>-->
