<h1 mat-dialog-title>Изменение пользователя: {{data.name}}</h1>
<div class="container" mat-dialog-content>
  <p>Изменить данные пользователя</p>
  <mat-form-field>
    <mat-label>{{data.phone}}</mat-label>
    <input matInput placeholder="Изменить номер">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{data.name}}</mat-label>
    <input matInput placeholder="Изменить имя">
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{data.datePerson}}</mat-label>
    <input matInput placeholder="Изменить имя">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Статус</mat-label>
    <mat-select [(value)]="data.status">
      <mat-option style="background: pink" value="Связаться">Связаться</mat-option>
      <mat-option style="background: yellow" value="Думает">Думает</mat-option>
      <mat-option style="background: brown" value="Жду оплату">Жду оплату</mat-option>
      <mat-option style="background: green" value="Оплачено">Оплачено</mat-option>
      <mat-option style="background: red" value="Отказ">Отказ</mat-option>
    </mat-select>
  </mat-form-field>
</div>
